<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <%- partial("_header") %>

  <body class="theme-base-0g">

    <%- partial("_sidebar") %>

    <div class="content container">
      <%- yield %>
    </div>

  </body>
</html>
