<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>octohost</h1>
      <p class="lead"><%= description %></p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="/">Home</a></li>
      <li class="sidebar-nav-item"><a href="/languages.html">Languages and Frameworks</a></li>
      <li class="sidebar-nav-item"><a href="/changelog.html">Changelog</a></li>
      <li class="sidebar-nav-item"><a href="/aws-install.html">AWS Install</a></li>
      <li class="sidebar-nav-item"><a href="/octo-cli.html">octo cli</a></li>
      <li class="sidebar-nav-item"><a href="https://twitter.com/octohost">@octohost</a></li>
      <li class="sidebar-nav-item"><a href="https://github.com/octohost">Github Project</a></li>
      <li class="sidebar-nav-item"><a href="https://index.docker.io/u/octohost/">Docker INDEX</a></li>
    </ul>

    <p>&copy; 2014. All rights reserved.</p>
  </div>
</div>
