doctype 5
html(lang="en")
  head
    title octohost
  body
    h1 octohost
    h3 Coming soon.
      p
        a(href="https://github.com/octohost") The Project
      p
        a(href="https://github.com/octohost/octohost") The Server
